<!-- Szablon, który służy do rejestracji nowego użytkownika. Zawiera formularz
umożliwiający utworzenie nazwy użytkownika oraz hasła-->
{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Zarejestruj się</h1>
<form method="POST" action="/register" class="mt-4">
    <div class="mb-3">
        <label for="username" class="form-label">Nazwa użytkownika</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Zarejestruj się</button>
</form>
{% endblock %}